[2020-02-03 01:57] sanketsaurav opened #1 "Randomize the order of repos on every deployment"
Currently, the order of the repos is the same as defined in the config file. This can bury new repos down in the UI.

[2020-02-03 01:58] sanketsaurav opened #2 "Add search for repos"
Real-time search on owner, name, and language.

[2020-02-03 01:59] sanketsaurav opened #3 "Humanize number of stars in the UI"

[2020-02-05 04:19] #1 closed

[2020-02-05 04:19] #3 closed

[2020-02-08 20:32] jaipradeesh opened #4 "Build a twitter bot that tweets whenever a new repository is added"
Twitter handle: @gfidev

[2020-02-09 16:18] developerfred commented on #2
Incredible here, I was going to suggest search algorithm <3 I was happy that there is already an open issue.

[2020-02-09 18:58] sam95 opened #10 "Do not show repo entry if there are no good first issues"
Currently we're displaying repos which have no issues at all. This needs to be fixed.
<img width="1230" alt="Screen Shot 2020-02-09 at 11 43 18 PM" src="https://user-images.githubusercontent.com/5090301/74108058-2b338700-4b9c-11ea-8fe9-1e66aa8fe95d.png">

[2020-02-11 05:36] #10 closed

[2020-02-12 18:15] sam95 commented on #4
Hi @jaipradeesh!
How are we taking care of storing the repos that have already been tweeted? Will need to maintain some sort of a DB or any other type of persistent storage in order to avoid duplicate tweets. Let me know your thoughts so I can help by picking this up.

[2020-02-14 08:04] sanketsaurav opened #22 "Add a test to ensure there are no duplicate repositories listed"
Prevent the CI build from passing and block the merge if there are duplicates listed in `data/repositories.toml`.

[2020-02-14 17:50] #22 closed

[2020-02-15 00:18] jaipradeesh commented on #4
@sam95 Sure. The bot should tweet the repository only once (when it is added) -- to start with. And maybe down the line, we can figure out how to randomly tweet a repository every n days (without repeating).

[2020-02-18 03:57] sam95 commented on #4
@jaipradeesh how do we maintain persistent repository records in this case (storing whether we tweeted only once inspite of multiple deployments)? I was thinking we can try persistent redis instead of setting up a DB only for this case.

Let me know your thoughts.

[2020-02-18 11:33] RJ722 commented on #4
@sam95 maybe, listen to changes on [`data/repositories.toml`](https://github.com/deepsourcelabs/good-first-issue/blob/master/data/repositories.toml) on `master` branch.

Basically, push a tweet whenever a new line is added to the file.

We can safely assume that commits won't be rewritten (protected branch) and we already have checks in place to ensure that entries aren't duplicated.

[2020-02-20 16:11] aneeshdua commented on #4
I am also looking into this. Cheers!

[2020-02-21 04:40] aneeshdua commented on #4
I am planning to create and test the bot on my twitter account and then give you the docker image for your twitter handle. @jaipradeesh what do you say?

[2020-04-01 18:17] jaipradeesh commented on #2
@developerfred Would you like to contribute? (or) should we keep it open?

[2020-04-06 17:25] jaipradeesh opened #36 "Add filtering based on languages"
A filter on the right or the left would be nice.

[2020-04-06 19:03] RJ722 commented on #36
This shall be handled as a part of #2. I'm planning to use [algolia] since we would already have a structured database already - the created JSON file.

[2020-04-07 13:58] sanketsaurav commented on #36
@RJ722 Are you taking this up in this sprint? If not, I can take it up and add a temporary, permalink based fix for this.

[2020-04-07 14:59] RJ722 commented on #36
I don't have enough bandwidth this week.

That would be great, thank you!

I will take this from there onward.

[2020-04-08 14:22] jaipradeesh opened #38 "Make your first contribution page"
A page to guide new open-source contributors. This could include (but not limited to) commit best practices, pull request conventions, seeking help, picking a good first issue, code review etiquette, etc.

[2020-04-19 08:37] jaipradeesh commented on #4
@sam95 That works. Apologies for the delay.

Also, can you help me understand the workflow?

[2020-04-28 18:18] aneeshdua commented on #4
@jaipradeesh can i work on this?

[2020-04-28 21:20] jaipradeesh commented on #4
Wow. This has been going on for a very long time now. @sam95 is working on it with @RJ722.

Let's wait for a couple more days. @aneeshdua Let me try to open up a few more issues in this repo.

[2020-04-30 07:34] #36 closed

[2020-04-30 15:37] jaipradeesh opened #41 "Display repository description along with the name of the repo"
<img width="760" alt="Screenshot 2020-04-30 at 9 07 17 PM" src="https://user-images.githubusercontent.com/4883668/80729977-9ac76b80-8b26-11ea-81d1-6b47a0b4c5d7.png">

[2020-05-03 04:16] fgiuliani commented on #41
Can I work on this issue? @jaipradeesh

[2020-05-03 06:07] jaipradeesh commented on #41
Appreciate it, @fgiuliani

There is already an open PR - https://github.com/deepsourcelabs/good-first-issue/pull/42

[2020-05-03 14:07] fgiuliani commented on #41
Didn't see the linked PR before. Sorry @jaipradeesh

[2020-05-07 07:49] jaipradeesh opened #43 "Emoji not rendered properly for some projects"
<img width="746" alt="Screenshot 2020-05-07 at 1 18 21 PM" src="https://user-images.githubusercontent.com/4883668/81268216-4dd32000-9065-11ea-8529-4c5b2448dce9.png">

[2020-05-07 07:51] jaipradeesh commented on #41
I will try open a few more improvements over the course of the week :)

[2020-05-07 07:51] #41 closed

[2020-05-07 08:01] jaipradeesh opened #44 "Move labels to a separate file"
Move labels to `labels.json` file under `data` directory.

This would enable us to add more beginner issue tags like `easy-pickings`, `E-easy`, etc.

[2020-05-07 08:03] jaipradeesh commented on #44
@fgiuliani Interested to take this one up?

[2020-05-07 15:28] fgiuliani commented on #44
@jaipradeesh sure!

[2020-05-09 20:56] fgiuliani commented on #44
PR created https://github.com/deepsourcelabs/good-first-issue/pull/46

[2020-05-12 03:58] fgiuliani commented on #38
@jaipradeesh what's the idea here?

[2020-05-12 04:03] fgiuliani commented on #43
GitHub is using <g-emoji> tags for these

<img width="1269" alt="Screen Shot 2020-05-12 at 01 02 34" src="https://user-images.githubusercontent.com/464646/81637260-4bb5ec00-93ec-11ea-887b-12f293b8fbec.png">

there's a package for Python that can be used to translate the emojis that are failing

https://pypi.org/project/emojis/

[2020-05-16 22:54] fgiuliani commented on #43
PR open for this issue https://github.com/deepsourcelabs/good-first-issue/pull/51

[2020-05-17 05:05] #43 closed

[2020-05-17 07:06] jaipradeesh commented on #44
Thanks for the contribution @fgiuliani

[2020-05-17 13:27] fgiuliani opened #53 "When filtering by "C#" the results displayed are for "C""
If I filter repositories selecting "C#" language, the results displayed are for "C" language (the url that I'm redirected to is https://goodfirstissue.dev/language/c)

[2020-05-17 19:25] rajneesh44 commented on #38
@RJ722 can you guide me what do we have to do here?

[2020-05-17 20:08] jaipradeesh commented on #38
Hey @fgiuliani and @rajneesh44, I've updated the description with a bit more details. I think @kaustavdm is already working on it. I would wait for their comment. If it is still open, you're more than welcome to contribute.

[2020-05-17 23:07] fgiuliani commented on #44
I think this issue can be closed @jaipradeesh

[2020-05-18 05:23] #44 closed

[2020-05-18 10:40] rajneesh44 commented on #38
Ok Sure, Thanks @jaipradeesh.

[2020-05-18 12:11] kaustavdm commented on #38
Hey @rajneesh44, here are the things we’d like to include in the page:

## Finding a repo

This section will talk about how to use the Good First Issue tool to find reps and issues to contribute to.

## Setting up git

This section will give an introduction to git through links to other tutorials on the web, including GitHub’s and Atlassian’s docs.

## Sending your first pull request

This section

[2020-05-18 12:14] kaustavdm commented on #53
Thanks for reporting this, @fgiuliani. Confirmed that I can reproduce it. Let’s see if anyone can take it up soon.

[2020-05-18 12:15] jaipradeesh opened #54 "Get issues from other beginner-friendly labels"
For ex: `easy pickings`, `E-easy`, etc.

To be added to file: https://github.com/deepsourcelabs/good-first-issue/blob/master/data/labels.json

[2020-05-18 12:20] RJ722 commented on #54
The way we query the GitHub API right now:

https://github.com/deepsourcelabs/good-first-issue/blob/82c11219150d60eefc33396201d5a8fea9b0fc41/gfi/populate.py#L79-L85

We do a logical AND for all the labels supplied from the `data/labels.json`. We'd need to change that to search for issues having any one, or more of the labels supplied. Until then, let's keep this issue on hold.

[2020-05-18 16:49] fgiuliani commented on #53
@kaustavdm I can work on this

[2020-05-18 17:34] Sheldon-Lloyd commented on #54
Interesting idea but I wonder how one would determine what issues are easy. What is easy for one person might be harder for someone else.

[2020-05-18 18:46] kaustavdm commented on #53
Excellent! Let me know if you need any help. This project is still in its early days, and contribution is very much welcome. 😊

[2020-05-18 20:07] fgiuliani commented on #53
I'm taking my first steps with pythong/hugo and this got more complicated than I thought.
I think the issue is here, but I'm not finding a way to encode the URL

https://github.com/deepsourcelabs/good-first-issue/blob/master/themes/lucy/layouts/_default/baseof.html#L19

Looks like we need to generate this URL
https://goodfirstissue.dev/language/c%23

I spent some time trying to make it work but I

[2020-05-19 07:41] sidntrivedi012 commented on #53
Hey @fgiuliani,

I guess `urlize` is removing the `#`. Adding to that, we need to encode it to `%23`. In order to do that, I guess we can use `replace`(https://gohugo.io/functions/replace/) function of Hugo to replace `#` in `$url` with `%23`.

Adding to that, there is a comment here which may help - https://discourse.gohugo.io/t/url-encoding-percent-encoding-with-hugo-solved/16546/10.

I am not f

[2020-05-19 22:57] fgiuliani commented on #53
thanks for the response @sidntrivedi012 !

The replace is a good approach. My concern is what happens If in the future more cases of languages with "special characters" appear. Adding a replace for each character maybe gets messy. The replace is a good temporary solution, though.

On the other hand, I'm not too familiar with Hugo, but do you know how can we fix the other two issues? (the empty lan

[2020-06-22 21:20] thor174 opened #66 "Tweety"
44

[2020-06-23 02:58] thor174 opened #67 "Aprbth"
255

[2020-07-01 15:39] etr2460 opened #71 "Website isn't updated when new repos are added"
I added Apache Superset a couple weeks ago, but don't see it reflected in the goodfirstissue.dev website. Is there something else needed to to be done to deploy the website?

[2020-07-05 05:23] sanketsaurav opened #72 "Builds are breaking because emojize() throws an error"
[code]

This is causing #71.

[2020-07-05 11:01] #72 closed

[2020-07-05 11:02] sanketsaurav commented on #71
Thanks for the report, @etr2460. This was caused due to a bug in the repository generation script, that was breaking the deployment build. I've pushed a fix for this in #74, and the repositories you had added should reflect on the next deployment (that happens every 30 mins.)

[2020-07-05 11:02] #71 closed

[2020-07-09 04:13] #4 closed

[2020-07-14 03:44] IC1101Virgo commented on #38
Hey is this available? Anything that I can do or contribute?

[2020-07-15 19:13] RJ722 commented on #38
Hello @IC1101Virgo!

This project is still very early in development, and can use every bit of help available.

If you are willing to take this up, take a look at @kaustavdm's [comment](https://github.com/deepsourcelabs/good-first-issue/issues/38#issuecomment-630140112) on what we need to add.

Let me know if you have any questions, happy to help! Thanks!

[2020-07-16 07:52] IC1101Virgo commented on #38
OK! Thanks for the reply!

[2020-07-17 20:51] tiagostutz commented on #38
Hi there everybody! First of all I have to say how glad I'm to found this project with people helping open source beginners to get in. When you start this open source path, finding your "good first issue" is not an easy task. We had a

[2020-07-28 05:56] mayank-genesis commented on #53
Hey, @fgiuliani also there is an issue with "/jupyter-note"  as well. Here we clearly conclude that links containing special-chars are not working.

[2020-07-28 06:04] maayami opened #88 "Missing swift tag in language container"
There is no tag for swift. Moreover, links with special-chars are not working!

_Originally posted by @mayank-genesis in https://github.com/deepsourcelabs/good-first-issue/issues/53#issuecomment-664793834_

[2020-08-09 11:45] AnuragMohapatra opened #96 "Multiple Search results for same repository,"
Hi,

I was looking into the repositories while scrolling I can see 2 results for same Microsoft /vscode.

![image](https://user-images.githubusercontent.com/8456793/89731314-60f0f400-da89-11ea-83e2-f8e6d89bb6de.png)

Again at,

![image](https://user-images.githubusercontent.com/8456793/89731325-7cf49580-da89-11ea-8ebc-cf2dee9086e1.png)

While the first link works fine the second one does nothing.

[2020-08-09 11:49] AnuragMohapatra opened #97 "Unknown / Blank tag in browse by language pointing to Page not found"
Hi,

Under the Browse by language section, there is a tag with count 3 but nothing written in it,

![image](https://user-images.githubusercontent.com/8456793/89731405-1de35080-da8a-11ea-95e2-0b9f2eeb6cbf.png)

When you click on it, a 404 page not found response is thrown.

[2020-08-11 15:58] Ask-Subhasmita commented on #88
@maayami hey I would like to work on this issue, can you guide me how can I reproduce the issue?

[2020-08-17 22:00] dpuljic01 commented on #97
What should be expected behaviour?

[2020-08-19 17:44] pnijhara commented on #97
@dpuljic01 projects like:
- https://github.com/LappleApple/feedmereadmes
- https://github.com/neutraltone/awesome-stock-resources
- https://github.com/rust-lang/rust-by-example

are expected to show.

Why?
Because these repos are markdown based and GFI does not point out markdown as language.

@jaipradeesh what do you think?

[2020-08-19 18:13] #96 closed

[2020-08-29 16:31] shub-garg commented on #38
View my PR  please

[2020-09-11 15:15] stfumehul commented on #97
please assign this issue to me and provide some guidance, my first time

[2020-09-15 06:20] Priyanshu-official opened #127 "2 tag in browse by language pointing to Page not found"
Hi,
In browse by Language is 2 tag and one is blank (i.e [x3](https://goodfirstissue.dev/language/nil) &
[ Emacs Lisp x3](https://goodfirstissue.dev/language/emacs-lisp))

Pointing To the 404 page not Found.

![Screenshot from 2020-09-15 11-41-55](https://user-images.githubusercontent.com/55912091/93172856-46c1ca00-f749-11ea-8b19-fd37a3fe1446.jpg)

Any Suggestion if someone has I would Like to Wor

[2020-09-15 07:11] Priyanshu-official opened #128 "Import Error"
Hi
there is error Coming in:
good-first-issue/gfi/tweet.py
Line -18              => LOGGING_CONFIG
Line-22,23,24     => Import error (Unable to Import toml)
![Screenshot from 2020-09-15 12-36-54](https://user-images.githubusercontent.com/55912091/93177566-a2438600-f750-11ea-9586-a72a684c20f6.jpg)

[2020-09-15 18:08] Sheetal777 commented on #38
Hello. I have sent a pull request for README file update, if you could, please review the same.

[2020-09-18 08:47] jai-deepsource opened #129 "Migrate to Netlify"

[2020-09-19 16:37] sonuishaq67 commented on #128
```pip3 install toml ``` ?

[2020-09-19 16:38] sonuishaq67 commented on #127
#53

[2020-09-20 10:39] Priyanshu-official commented on #128
@sonuishaq67  I have tried but not get Result.
you also try it and let me Know the result
This is My first time.

[2020-09-20 10:43] sonuishaq67 commented on #128
works fine for me
![Screenshot from 2020-09-20 16-12-36](https://user-images.githubusercontent.com/55189255/93709494-2b492b80-fb5c-11ea-94a2-517784dcf530.png)

[2020-09-20 10:45] Priyanshu-official commented on #128
ok, Maybe Installation Problem form my side.
Thank you

[2020-09-20 10:45] #128 closed

[2020-09-24 13:46] dependabot-preview[bot] opened #132 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/deepsourcelabs) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/deepsourcelabs/update-logs/48612350).

[2020-09-25 13:42] #132 closed

[2020-10-09 20:09] carlosdeque-s commented on #88
Hi I'm new at github and my experience with code is from the last 2 years with some months of innactivity in between.

Is there any task I could do or somethings I need to learn if I only have a small experience in Js, Ruby, Java, C++, Python?

Feel free to ask me from email if you have some suggestions or projects I could help you with - al386762@uji.es

[2020-10-09 20:09] carlosdeque-s commented on #38
Hi I'm new at github and my experience with code is from the last 2 years with some months of innactivity in between.

Is there any task I could do or somethings I need to learn if I only have a small experience in Js, Ruby, Java, C++, Python?

Feel free to ask me from email if you have some suggestions or projects I could help you with - al386762@uji.es

[2020-10-09 20:10] carlosdeque-s commented on #54
Hi I'm new at github and my experience with code is from the last 2 years with some months of innactivity in between.

Is there any task I could do or somethings I need to learn if I only have a small experience in Js, Ruby, Java, C++, Python?

Feel free to ask me from email if you have some suggestions or projects I could help you with - al386762@uji.es

[2020-10-10 07:12] shrutisatish00 commented on #97
@pnijhara shall I make a markdown tab with the aforementioned repos? (as part of hacktoberfest)

[2020-10-10 07:25] pnijhara commented on #97
@jai-deepsource @jaipradeesh can you look into this?

[2020-10-14 17:20] jai-deepsource commented on #127
@sonuishaq67 Thanks for the report. If you can send a fix via PR, would be more than happy to merge.

Or @rahul-deepsource , can you take a look?

[2020-10-15 03:00] sonuishaq67 commented on #127
I'll try this.

[2020-10-16 08:09] ocean commented on #127
I've been having a look at this issue, and #97 and #53 which are all related, in my fork at https://github.com/ocean/good-first-issue

Sorry I should have commented when I started working on this a few days ago.

[2020-10-16 08:24] ocean commented on #53
I've sort of fixed the C# issue in PR #162, but not fully happy with it.

[2020-10-16 08:27] ocean commented on #97
I've added "Unknown" as a tag for these repos in PR #162 - not fully happy with it but these tags come from the GitHub API, so if GitHub doesn't know what language the repo is in, there's not really much to do but assign it to "Unknown". What does everyone think?

[2020-10-18 20:03] kmorcinek opened #164 "Sort alphabetically data/repositories.toml to avoid conflicts"
Right now new repositories are added at the end of the list, and it causes git conflicts when couple PR are on the way. Requirement to have the list sorted will almost remove these conflicts.

[2020-10-20 19:49] #127 closed

[2020-10-25 12:25] darnuria opened #170 "If an Emoji is in label project is not listed"
Project like [Peertube](https://github.com/Chocobozzz/PeerTube/) added an emojii in their label for beginners like "good first issue :beginner:"

Right now there is [some issues](https://github.com/Chocobozzz/PeerTube/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue+%3Abeginner%3A%22) labeled with this label but they don't appears on the goodFirstIssue listing. :(

I asked the same on Pee

[2020-10-26 13:17] jSAMUELj commented on #170
@darnuria Hi can i work on this ?

[2020-10-27 03:42] PRAy-d commented on #164
can i contribute on this?

[2020-11-07 06:47] timstarkk opened #173 "Show number of comments attached to the issue"
I find the website very useful. Something that would increase the value of the website for me would be to see the number of comments attached to each issue. This would save me time in knowing which issues I'm interested in viewing.

I would just add the feature and PR, but I have no idea how to get the project running locally.

If someone could help me get the project running locally, I could add

[2020-11-12 20:07] kmorcinek commented on #164
@PRAy-d you can help (if you can) by making PR #165 merged. What I did here is just sorted them in `vim` using `:sort`.

[2020-11-13 11:38] #164 closed

[2020-12-16 17:13] eliastheis opened #181 ""good first issue" in README.md in darkmode not readable"
### Here is a screenshot:
![darkmode_screenshot](https://user-images.githubusercontent.com/58971274/102382010-38927c80-3fca-11eb-99d2-ffc9e60c47d4.PNG)

### Maybe add a white background?

[2020-12-18 05:46] ShyamPraveenSingh commented on #181
Hi, I would like to work on this issue.

[2020-12-21 19:36] sanket-deepsource commented on #53
This has been fixed in #183.

[2020-12-21 19:36] #53 closed

[2020-12-22 07:28] sanket-deepsource commented on #97
This has been fixed in a recent release. Thanks!

[2020-12-22 07:28] #97 closed

[2020-12-22 07:29] sanket-deepsource commented on #88
This has been handled in the latest release. Thanks for reporting!

[2020-12-22 07:29] #88 closed

[2020-12-22 08:21] #129 closed

[2020-12-22 08:40] mohitdmak commented on #181
May I be assigned this issue?

[2020-12-22 13:12] #181 closed

[2020-12-22 13:19] sanket-deepsource opened #187 "Add details for local development"
It is not clear how someone can set GFI up locally and start local development. There should also be fixtures so the user doesn't need to run the population themselves.

[2020-12-22 13:24] sanket-deepsource commented on #170
@darnuria We fetch the list of issues from the GitHub API with the label filter:

https://github.com/deepsourcelabs/good-first-issue/blob/406724faf8ae36da88abf59cdf74314119528e68/gfi/populate.py#L87-L93

So I'm not sure how we can support this in a generic way without explicitly whitelisting every variant (which isn't possible, of course). Do you have a solution in mind?

[2020-12-22 13:25] sanket-deepsource commented on #173
We're working on adding a guide for the local development setup in #187.

[2020-12-23 04:54] sanket-deepsource opened #189 "Add a Guides section"
It will be valuable to write guides and how-tos around good first issues and open-source contributions. This can be implemented using Nuxt Content, and the guides can be written using Markdown.

[2020-12-23 05:12] sanket-deepsource opened #192 "Guide: What is a good first issue?"
Outline:
* What is a good first issue?
* For project maintainers: how to create good first issues?
* For contributors: how to find an issue to get started?

The content should be live at: `/guide/what-is-good-first-issue`

[2020-12-23 05:50] nilesh212 commented on #192
Good first issues are the issues created by people on their projects. These issues are very easy to solve.

[2020-12-24 11:16] sanket-deepsource commented on #192
@nilesh212 Would you be willing to contribute to the guide?

[2020-12-24 11:49] nilesh212 commented on #192
will you plz elaborate on it?

[2020-12-24 11:49] adityaB02 commented on #187
What all details need to be added for local development?

[2020-12-24 11:56] aman190202 commented on #192
@sanket-deepsource I would be willing to contribute to the guide!

[2020-12-26 21:22] darnuria commented on #170
I am not familiar with github API, but maybe a broad search with ignoring start and end before after `good first issue` might do the job.

Something like `🔰 good first issue` or good first issue 🔰` would match against

[2020-12-27 07:06] OmLakshmi commented on #192
@sanket-deepsource Would love to contribute to the guide

[2020-12-28 12:40] sanket-deepsource commented on #170
Looks like the GitHub API supports searching/filtering of issues only via explicit labels ([docs](https://docs.github.com/en/free-pro-team@latest/github/searching-for-information-on-github/searching-issues-and-pull-requests#search-by-label)). I'm afraid we won't be able to support this feature until something changes on their end.

For the time being, maybe we can add some explicit known labels in

[2021-01-02 11:27] Srijan0519 commented on #192
@sanket-deepsource i would too

[2021-01-17 17:21] Yashbontala commented on #192
would love to conrtribute

[2021-01-19 15:10] kaitou-1412 commented on #192
@sanket-deepsource A **good first issue** is an issue created for the sole purpose of facilitating newbies/beginners to jump-start their open journey.

**To get started**, one can use keywords related to what they already know, such as "python", or <any other programming language or topic> with keyword "issue" .
#
Given below is an example of search terms used to find issue:

![Capture](https://us

[2021-01-23 12:27] pierreyoda commented on #173
Hi, just found this issue this morning and found it to be a very good idea. I tried to implement it the best I could.

FYI running the project locally is pretty simple, just follow the makefile and issue and/or export a Github API Personal Access Token.

[2021-01-23 13:10] timstarkk commented on #173
@pierreyoda Thanks, I'll try that out. cheers.

[2021-01-28 12:02] pierreyoda commented on #173
Just to say that this feature is merged and in production!

[2021-01-31 17:48] alokprince commented on #189
I am a beginner field of web development but I would like to work on this, please guide me.

[2021-02-10 14:51] divyanshubisht commented on #192
can someone englighten me about all this. I am new to open source and looking forward towards this. So, if anyone could guide me. :)

[2021-02-10 19:28] Chaitu17 commented on #192
Can anyone please show me a good first issue, so that I can solve it. I'm a newbie to open source. Please help.

[2021-02-16 20:21] joeyouss commented on #189
@sanket-deepsource
Hi! I would like to work on this issue and would write the relevant content pieces. Kindly assign the issue to me.

[2021-02-19 22:03] urlDev opened #215 "Last activity data mismatch"
The last activity data on cards do not match with the ones in repos (last commit).

One repo I checked had the last commit from 17 months ago but on the website, it showed the last activity as 2 days.

[2021-02-22 00:06] Maganpreet commented on #38
Hey can I start working on this?

[2021-02-27 00:58] harshit-deepsource commented on #173
closing this issue.

[2021-02-27 00:58] #173 closed

[2021-02-27 01:02] harshitsinghai77 commented on #2
Is this issue still open?

[2021-03-07 07:27] aleksandr-kotlyar commented on #215
I have a pull of questions in case to find out how to fix it. I want to discover how it should work and we make it better.

General questions are:
1. Where is the documented criteria of activity which good-first-issue should match or undertakes to fulfill?
2. What criteria should be used to sort projects?

Secondary questions to discuss:
1. Is 'last commit' the good criteria of activity?
2. @urlDe

[2021-03-07 10:01] aleksandr-kotlyar opened #226 "Search issues by having 'any one' label from data/labels.json"
From #54 by @RJ722

I plan to fix it.

[2021-03-07 10:45] aleksandr-kotlyar commented on #54
Fixed in #227 that was the "good first issue" too, easy to make.  🙂

[2021-03-07 12:08] urlDev commented on #215
Thank you for the answer. About your batch of questions;

General questions:
1. I have no information about what a good-first-issue should match for activity.
2. I believe sorting can be done in several ways e.g. last activity, number of issues, stars. What I first look at when checking for repos is the last activity because it gives an idea about how soon/fast your PR could be dealt with.

Second

[2021-03-07 12:43] aleksandr-kotlyar commented on #215
@urlDev thank you for answers! Before programm something - we should now the requirements. I don't know vue either but i want to clear up what needs to be done in this issue, after that somebody could take it in progress, or we could practice with vue on the clarified algorithm.

[2021-03-07 15:56] aleksandr-kotlyar commented on #226
Waiting for review.

[2021-03-11 09:36] #226 closed

[2021-03-11 09:38] rahul-deepsource commented on #54
Thanks to @aleksandr-kotlyar, the search would be an `ANY` type search, wherein issue will be reported if it matches any of the given labels. This issue is no longer blocked.

[2021-03-11 09:39] RJ722 commented on #226
Thanks for the PR! :)

[2021-03-11 17:40] aleksandr-kotlyar commented on #2
Language filter is already on site.

Search by "owner, name" - is "Ctrl+F" cause all repos are rendered at once on page open. May be in this case task can be closed.

[2021-03-31 16:05] #187 closed

[2021-04-04 13:22] #170 closed

[2021-04-10 13:31] genjo777 opened #245 "@krasiofficial"

[2021-04-11 00:10] genjo777 opened #246 "ID:BCG-E2946A"
IC579C-E2946A

[2021-04-11 04:59] #246 closed

[2021-04-21 06:16] Magicianred commented on #192
Hi @Chaitu17 , you have to go in a Tracker Issue page and use this filter of search:
_is:issue is:open label:"good first issue"_

Read the description of issue, if you think to can resolve write some comment in the issue and ask to take in charge it, then resolve and create a PR to the repository :)

[2021-04-24 05:55] Butuhpakagsial opened #257 "Deploy"
name: Cron

on:
  schedule:
    - cron: '0 8 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger deployment
        uses: joelwmale/webhook-action@master
        env:
          WEBHOOK_URL: ${{ secrets.NETLIFY_CRON_BUILD_HOOK }}
          data: ""

[2021-04-24 05:57] #257 closed

[2021-05-01 14:03] mukki00 commented on #215
Hey guys! I know vue.js, so I think I can help you. But I don't have a clear idea of the issue. So, Can you please explain it further @urlDev ?

[2021-05-12 20:06] tusharnankani opened #263 "bug: autofix for `Unnecessary parentheses after keyword` [Python]"
In one of my repositories, I ran a [deepsource analysis](https://deepsource.io/gh/tusharnankani/url-shortener/) and in [one of the autofix sessions](https://deepsource.io/gh/tusharnankani/url-shortener/autofix/047f5269-75d7-4b87-bf8f-67d0c30f28dc/), it creates a buggy PR.

Style: Unnecessary parentheses after keyword `PYL-C0325`

![image](https://user-images.githubusercontent.com/61280281/11803732

[2021-05-12 20:23] shubhendra-deepsource commented on #263
Hi @tusharnankani 👋

This is the repository for [Goodfirstissue.dev](https://goodfirstissue.dev), and issues created here are related to that only.

I hope you won't mind using an option from below to report bugs.
- Post on [DeepSource's Discuss](https://discuss.deepsource.io/)
- Report on `#bugs` channel on [DeepSource's Users group](https://join.slack.com/t/deepsourceusers/shared_invite/zt-gfe1t

[2021-05-13 07:41] tusharnankani commented on #263
Apologies @subham-deepsource!
I tried to look for an accurate repository (under the deepsource organization) where I could address this issue, but couldn't find an appropriate one, so I reported the bug here.

I will report the bug on one of the options you gave.
Thank you for your help! ^_^

[2021-05-13 07:41] #263 closed

[2021-05-25 03:40] #189 closed

[2021-05-30 06:40] #38 closed

[2021-06-03 07:18] mcxwx123 opened #278 "Criteria for adding a new project"
1. Although "good first issue" is the default label that GitHub encourages projects to tag for issues suitable for newcomers, many projects prefer to use other labels, such as "beginner", "easy" and "first timer only". Maybe other labels can be considered in the first criterion.
2. Perhaps a clearer description of "actively maintained" is needed. Vague descriptions may damage the objectivity of th

[2021-06-06 17:32] Praveen-jha opened #283 "(JS-0712) Avoid `target='_blank'` attribute without `rel='noopener noreferrer'`"
## Description
A malicious actor can gain full control over the user&#x27;s DOM window object. As such, this can lead to phishing attacks such as fake login prompts or password alerts being shown to the user. &lt;!--more--&gt; Using `target=&#x27;_blank&#x27;` links grants the page we are linking to a partial access to the …

## Occurrences
There are 5 occurrences of this issue in the repository.

[2021-06-15 07:06] aniruddhabagal commented on #278
Yes definitely agree with you on this point.

[2021-06-16 11:41] #54 closed

[2021-06-16 18:33] #2 closed

[2021-06-20 03:11] dhruvMohapatra commented on #283
I'd like to fix this. Can I take a shot at it?

[2021-07-02 15:14] ishitaojha commented on #278
finally saw someone pulling off this trend

[2021-07-08 08:32] shubhendra-deepsource commented on #278
Thanks for creating this issue @mcxwx123

@aniruddhabagal & @ishitaojha — Would you be interested in picking up this issue?

[2021-07-12 06:43] AmanLakhani commented on #283
Can I help to fix this issue?

[2021-07-22 13:57] #283 closed

[2021-07-27 07:24] #192 closed

[2021-07-30 19:49] aleksandr-kotlyar commented on #215
Relevant.

[2021-08-18 04:04] kaushikroychowdhury commented on #278
I want to work on this . Can you please guide me ?

[2021-08-18 16:41] Vamsi045 commented on #278
I want to work on this issue. Can you please guide me?

[2021-08-18 17:50] ishitaojha commented on #278
This is actually not an issue please re-read

[2021-09-04 11:51] suraj-singh12 commented on #278
I have read the issue 2 to 3 times, but still, I could not get what to do. Could you please clarify @ishitaojha. I would be thankful to you.

[2021-09-04 11:56] ishitaojha commented on #278
Kindly read the first comment on this issue,  it is actually a discussion.

[2021-09-04 12:00] suraj-singh12 commented on #278
Thanks, @ishitaojha, I got it.
Well, I also agree.

[2021-09-06 06:44] siddhant-deepsource opened #314 "Curate issues labelled with `hacktoberfest` label during the Hacktoberfest"
Since hacktoberfest is going to start soon, it will be really helpful for the beginners if they can find all the `hacktoberfest` labelled issues as well on gfi.

We can however add a certain mark (maybe a star or a label next to the issue title as Github does) which can help them differentiate issues labelled as `hacktoberfest` from the ones labelled as `good-first-issue`.

[2021-09-09 22:40] tejassinghsital commented on #314
Hi, I want to contribute my good first issue but don't really know how to do it. Can you assign this one to me? I don't know much about contributing but will try my best...

[2021-09-29 14:43] varsha080 commented on #314
Hyee..can you assign this issue to me. I'll try my best to fix it

[2021-10-08 15:26] Prathamesh-Dukare commented on #314
Hey I would Love to do this

[2021-10-20 07:11] Meghwantsingh commented on #278
ya I also feel the same.

[2021-10-28 11:24] alguerocode opened #347 "alguerocode add new project"
i added my volder npm package , you see it in pull request
link to the repo:https://github.com/devSupporters/volder

[2021-11-04 21:04] #215 closed

[2021-11-05 17:47] Ayush0431 opened #349 "Add a CONTRIBUTING.md"
This will help all the new members to know how to contribute and what are the objectives :)

[2021-11-12 18:51] vasanthdharmaraj opened #351 "Can only owners add repos?"
I picked up a Kotlin good first issue in the [mockk](https://github.com/mockk/mockk) repo. 🎉 Thanks for providing this service.

But I noticed that there are only four repos for Kotlin. Another library I use has three `good first issue`: https://github.com/detekt/detekt/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

I was wondering if only repo owners can add new repos or others can

[2021-11-15 15:55] siddhant-deepsource commented on #351
Hey @vasanthdharmaraj 👋

Anyone can add repositories by creating a pull-request. You can find more details about adding repositories [here](https://github.com/deepsourcelabs/good-first-issue#adding-a-new-project).

Thanks!

[2021-11-15 17:43] vasanthdharmaraj commented on #351
Great. Thanks.

[2021-11-15 17:43] #351 closed

[2021-12-06 07:43] btargac opened #358 "Filter out the archived projects"
Some projects are archived and there's no point of listing them anymore. I guess they have been added in the past and they were being actively maintained at the time they were added, but as of today when you list #javascript you get 105 results and the first one is Josh's [guppy](https://github.com/joshwcomeau/guppy) project which is already archived. So it would be better if they are filtered out

[2021-12-17 04:38] Xyzo779 commented on #349
#I can't understand😰

[2021-12-17 19:18] Ayush0431 commented on #349
hey @sanket-deepsource I have made a PR for this . I hope u see and merge it😊

[2022-01-02 21:23] ishitb opened #365 "Sorting Feature"
Currently the website displays the repositories in a really long list. I was wondering if I can take up the challenge of adding a feature where the user can select a way to sort the list.
After that maybe features like, filtering and searching as well.

[2022-01-05 18:00] meghrathod opened #369 "(JS-0241) Consider using arrow functions for callbacks"
## Description
It is recommended to use arrow functions as callbacks.

## Occurrences
There are 4 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/deepsourcelabs/good-first-issue/issue/JS-0241/occurrences/](https://deepsource.io/gh/deepsourcelabs/good-first-issue/issue/JS-0241/occurrences/)

[2022-01-05 19:08] agarwalBinay18 commented on #369
CAN you assign this to me?

[2022-01-19 09:55] tnax01 commented on #365
Hi,

I've started to work on this feature and i added the ability to sort with number of stars, issues and latest activity
![screenshot](https://user-images.githubusercontent.com/82701900/150106411-d8fab7cc-1f79-4278-8876-ca74d239ad26.png)

Now am stuck in a problem where the user have to change the tag for the new sort type to apply, is this good so far ?

[2022-01-24 21:39] tompitt94 commented on #358
@btargac Can I take a run at this one please?

[2022-01-25 07:13] btargac commented on #358
@tompitt94 I tried again, this time 103 results returned for JS and guppy was not the first one. I guess it was 10th or so but it was still in the list, and when I visited that repo it shows a notification "This repository has been archived by the owner. It is now read-only."

[2022-01-25 08:18] tompitt94 commented on #358
Thanks for getting back to me and letting me know.

I'll keep an eye on the other issues.

On Tue, 25 Jan 2022 at 07:14, Burak Targaç ***@***.***> wrote:

[2022-01-30 22:06] zshenkman commented on #365
Hi! I worked on creating this feature and opened a PR #381!

[2022-02-04 21:10] KingAzizz commented on #369
How can l take it and submit changes because I already fixed the issue

[2022-02-08 17:15] sanjeevbhusal commented on #369
Hey is anyone assign to it?

[2022-02-10 10:25] #369 closed

[2022-02-23 03:26] vasanthdharmaraj opened #392 "Add JetBrains Exposed project"
The [Exposed](https://github.com/JetBrains/Exposed) repo has 11 issues with `good-first-issue`

[2022-02-23 03:27] vasanthdharmaraj commented on #392
I can pick up this issue and create a PR.

[2022-02-23 03:47] vasanthdharmaraj opened #393 "Is there a way to run this locally?"
I would like to contribute by creating a PR to add variations of labels like `good-first-issue` and `:wave: Good First Issue` that I am seeing being used in some open source projects. There is also a related issue #278.

From what I understand, I just need to add the new labels to [labels.json](https://github.com/deepsourcelabs/good-first-issue/blob/master/data/labels.json) file. But wanted to che

[2022-02-23 04:05] vasanthdharmaraj opened #394 "Add label variations for good first issue"
I found some project that match the criteria to be added but have variations of the `good first issue` labels like `good-first-issue` and `:wave: Good First Issue` I would like to add these label variations and subsequently add these repos.

Example:
- https://github.com/JetBrains/Exposed/issues?q=is%3Aopen+is%3Aissue+label%3Agood-first-issue
- https://github.com/apollographql/apollo-kotlin/issues

[2022-02-23 04:05] vasanthdharmaraj commented on #394
I will create a PR for this.

[2022-02-23 04:14] vasanthdharmaraj opened #395 "Add apollographql/apollo-kotlin project"
The [apollo-kotlin](https://github.com/apollographql/apollo-kotlin/issues?q=is%3Aopen+is%3Aissue+label%3A%22%3Awave%3A+Good+First+Issue%22) repo has 4 issues with `:wave: Good First Issue` label. Depends on #394.

[2022-02-23 04:14] vasanthdharmaraj commented on #395
I will pick up this issue and create a PR.

[2022-03-15 08:22] siddhant-deepsource commented on #347
Hey @alguerocode. Have added a comment in the PR. Please take a look. Thanks! 🙌

[2022-03-15 08:22] #347 closed

[2022-03-16 18:31] vasanthdharmaraj commented on #395
`:wave: Good First Issue` is a non standard label and does not make sense to add this project. So I will check to see if the [apollo-kotlin](https://github.com/apollographql/apollo-kotlin/issues?q=is%3Aopen+is%3Aissue+label%3A%22%3Awave%3A+Good+First+Issue%22+sort%3Aupdated-desc) can add either `good first issue` or `good-first-issue`.

[2022-04-15 08:17] anhtumai opened #411 "add search for issues by regex pattern, like `good.*first.*[issue/bug]`"
Some repositories don't have the label `good-first-issue`, but they have labels `good-first-bug` or `good first issue`. Therefore, the list of good first issues on the web is lacking. For example, https://github.com/ogham/exa/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-bug. To query all possible results, we should query by regex pattern, like `good.*first.*[issue/bug]` instead of a hardcoded

[2022-04-17 15:55] QuarkNerd commented on #411
`[]` will match a single character in the list. Something like `good.*first.*(issue)|(bug)|(ticket)` might work better?
Also I'd like to pick this up if allowed?

[2022-04-17 16:10] QuarkNerd commented on #411
A cursory glance at the pygithub docs suggests that it doesnt like regexes for searching for issues, so maybe just  expanding the list is the way to go, it's not ideal but since people manually add their projects here, they should choose one of the ones mentioned here

[2022-04-20 14:46] QuarkNerd commented on #411
We should close this issue, seems there is a duplicate https://github.com/deepsourcelabs/good-first-issue/issues/394

[2022-04-25 12:57] anhtumai-spacehub commented on #411
agree

[2022-05-05 05:43] Alson33 opened #414 "Mulitple label selection as well as deselection"

[2022-05-07 08:11] #411 closed

[2022-05-14 02:42] #392 closed

[2022-05-14 02:43] #395 closed

[2022-05-14 02:47] jai-deepsource commented on #414
@Alson33 Can you elaborate?

[2022-05-14 02:47] jai-deepsource commented on #394
@vasanthdharmaraj This has been merged.

[2022-05-14 02:47] #394 closed

[2022-05-14 02:50] jai-deepsource commented on #365
@talald3v The screenshot LGTM.

[2022-05-14 02:50] jai-deepsource commented on #358
@siddhant-deepsource Can you take care of this?

[2022-05-14 02:52] jai-deepsource commented on #314
Please send a PR with updating the labels here - https://github.com/deepsourcelabs/good-first-issue/blob/master/data/labels.json

[2022-05-14 02:52] #349 closed

[2022-05-14 02:53] jai-deepsource commented on #278
Please send a PR with updating the labels here - https://github.com/deepsourcelabs/good-first-issue/blob/master/data/labels.json

[2022-05-14 06:02] siddhant-deepsource commented on #358
@jai-deepsource Sure, will take this up.

[2022-05-15 21:48] #358 closed

[2022-05-15 22:01] sanket-deepsource commented on #393
Hey @vasanthdharmaraj! The instructions for running the app locally have been updated in the README [here](https://github.com/deepsourcelabs/good-first-issue#setting-up-the-project-locally). Hope this helps!

[2022-05-15 22:01] #393 closed

[2022-05-28 15:54] Alson33 commented on #414
@jai-deepsource the tags when selecting can only be selected single tag and once selected cannot be deselected

[2022-05-29 07:24] p4nu opened #422 "sw.js"
This can be ignored as it should not be version controlled.

I'll make a PR about this.

[2022-06-01 18:52] Piyush2912 commented on #278
Good first issue.

[2022-06-21 16:54] Dinakar04 commented on #314
hi can someone tell how to contribute for this issue

[2022-07-05 15:10] nadia12-p commented on #414
Hi! If no one is working on this, I'd like to give it a go

[2022-07-06 04:57] TakasiVenkataSandeep-08 commented on #365
Hi @siddhant-deepsource and @jai-deepsource
I am wondering if this issue is still open for development, here is a demo of my implementation if yes can you guys please look into the below gif and let me know if this is as intended so that i can raise a pr with the same
![ezgif-2-6c84d12781](https://user-images.githubusercontent.com/38204927/177417537-a7ace927-2eb4-458c-97ae-d0f9fb7e8600.gif)
Thank

[2022-07-08 06:38] TakasiVenkataSandeep-08 opened #442 "Using a single page to handle the display, filtering and sorting of repos"
Hi @jai-deepsource  @siddhant-deepsource
Currently there are two different pages to handle the display and filtering of repos

1. **language/index.vue**
2. **language/_slug.vue**

as both the pages were almost doing the same thing and handling the filter repos by label using **language/_slug.vue** is adding limitations, code repetition and complexity to support features like multi label select and

[2022-07-21 07:29] shivam-deepsource commented on #442
Hey @TakasiVenkataSandeep-08 having multiple pages is good from an SEO point of view, it also becomes easier to share these links with others. While we can definitely improve code reuse, merging those pages does not serve the site best. LMK your thoughts

[2022-08-08 22:28] dnabookofficiall opened #452 "Uniswap"

[2022-08-09 06:30] #452 closed

[2022-08-14 00:20] dnabookofficiall opened #454 "README.md"
README.md

__Originally posted by @dnabookofficiall in https://github.com/dnabookofficiall/-ADMNParadise_sky/issues/8__

[2022-08-14 17:52] #454 closed

[2022-08-23 12:10] pavelmemory opened #455 "Support of the https://gitlab.com/ repositories"
It would be great to have https://gitlab.com to be a source for the repositories where everyone can contribute.
There are a lot of open source and widely used projects that are open for accepting contributions.

[2022-08-24 17:05] NaNshekhar04 opened #456 "Hey there! How to get started? Any contributing.md Files or any other Reference?"

[2022-08-26 12:25] dnabookofficiall opened #458 "### Summary"
### Summary

Automatic license sync enables you to manage license usage across your GitHub Enterprise deployments by automatically syncing user licenses from your GitHub Enterprise Server instance to GitHub Enterprise Cloud.

In an effort to reduce enterprise administration of the license sync process, we are making improvements to the matching experience.

### Intended Outcome

The goal is to pro

[2022-08-29 02:43] #458 closed

[2022-09-29 08:15] piyushlakheda commented on #278
ok got it

[2022-09-30 11:58] AriefSandi commented on #456
here available to contributor.md https://github.com/firstcontributions/first-contributions

[2022-10-01 16:38] anamikarawat opened #473 "adding code of conduct file"
I want to create a code_of_conduct.md file . please assign me this issue under hacktoberfest 2022.

[2022-10-01 18:12] Siddharthqr commented on #473
Assign me this issue

[2022-10-01 18:34] Kannan0017 commented on #314
Hi there, I would like to fix this issue.

[2022-10-02 15:29] Mani628 commented on #473
assign me this issue

[2022-10-03 20:22] ayushmaanshrotriya commented on #473
I can do it

[2022-10-03 20:23] Poeticjustice98 commented on #473
Me too?

[2022-10-03 22:07] #473 closed

[2022-10-09 02:41] Unique-py opened #483 "hi"
hi

[2022-10-10 09:44] #483 closed

[2022-10-10 09:44] #456 closed

[2022-10-10 17:06] nitin-787 opened #493 "added myNotes project"
pull #486

[2022-10-10 18:42] #493 closed

[2022-10-20 06:31] Tc2r1 opened #508 "Added Dev Interview Helper app"
#507

[2022-10-24 10:47] jmhbnz opened #512 "Ability to further filter repositories shown or query via api"
Hey Team - This is a wonderful project! I'm hoping there is a way either through an API or customised filtering to create a more refined view for a subset of repositories that are of particular interest.

I could take a fork and run a copy with a cut down list of repositories but I would like to just run off one source of truth and not maintain a second instance if possible.

Can someone please le

[2022-11-04 02:19] Sajiyah-Salat opened #520 "create a discord channel"
I want to add my project to this repository but I am not an experienced person So I need other people's help. Sorry to say but your contribution guide is not beginner friendly.

[2022-11-04 16:09] Strik3ria commented on #520
@Sajiyah-Salat At a glance it looks like you need to answer four questions about requirements, then add your  project to the [data/repositories.toml](https://github.com/deepsourcelabs/good-first-issue/blob/master/data/repositories.toml) and create a pull request to be approved my the maintainers of this project.

Those four questions are:
Question 1: Does your project meet this? -> It has at least

[2022-11-16 14:09] silverrres opened #524 "Bug"
i have problem with a bug about the set rotation method in the matrix4

![Capture](https://user-images.githubusercontent.com/118355736/202202072-06967747-9f43-48a1-8d4c-594cd00e9f32.PNG)

[2022-11-16 14:22] Donhuttan123 commented on #524
To avoid this bug, you passed this parameter when using it, but an error will be prompted in ts
![image](https://user-images.githubusercontent.com/118355736/202202819-d921baed-b67b-4c76-ac39-2bc01048134c.png)
![image](https://user-images.githubusercontent.com/118355736/202202887-028266e0-599b-4449-a97d-6f18398b3efd.png)

So to fix it you added this parameter to the source code

![image](https://us

[2022-11-22 12:20] ankit-verma-209171 opened #527 "Archived repositories in the results"
While exploring the website for active repositories to contribute to, I found [sveltejs/sapper](https://github.com/sveltejs/sapper) repo which is archived. Although, it still contain good first issues, we can't contribute as it is read only 😅

[2022-11-23 06:16] tushar-deepsource commented on #527
@ankit-verma-209171 thanks for the report! I'll try to get this fixed as soon as possible.

[2022-11-23 06:25] #527 closed

[2022-11-23 06:27] tushar-deepsource commented on #527
It should be live within 10 minutes.